<!doctype html>
<html lang="en-US" data-bs-theme="light">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel='stylesheet' id='app/0-css' href='/home/vitumbiko/Desktop/dashboard/static/css/app.9b0642.css' media='all' />
<script src="/home/vitumbiko/Desktop/dashboard/static/js/jquery/jquery.min.js?ver=3.7.1" id="jquery-core-js"></script>
  </head>

  <body class="page page-id-50804 wp-embed-responsive pricing-tables no-banner">
    
    <div id="app">
      <a id="skip-to-content" class="visually-hidden-focusable" href="index.html#main">
  Skip to main content
</a>

<div class="header-wrapper sticky-top">
  <div class="container-fluid infobar">
  <div class="container-xl">
    <div class="row">
      <div class="col-12 col-lg-7 d-flex align-items-center">
        <div class="row flex-nowrap ticker-box flex-grow-1 overflow-hidden py-2" role="alert">
    <div class="ticker-intro col">
      Project Title <span class="fa-solid fa-triangle-exclamation"></span>
    </div>
    <div class="ticker-container col">
      <div class="ticker-wrapper">
        <div class="ticker-wrap">
          <div class="ticker">
                          <div class="ticker__item"><p>Electronic Toll Collection System With Automatic Number Plate Recognition Using TensorFlow and OpenCV</p>
</div>
                      </div>
          
        </div>
      </div>
    </div>
  </div>
      </div>
      <div class="col-12 col-lg-5 d-flex align-items-center justify-content-end pe-0">
   
        <div class="dropdown">
          <button class="btn btn-login dropdown-toggle px-1" data-bs-toggle="dropdown" aria-expanded="false">
            My Account <i class="fa-solid fa-user-large"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="track-link dropdown-item" href="https://customers.m6toll.co.uk/account-creation" target="_blank">Sign Up</a></li>
            <li><a class="track-link dropdown-item" href="https://customers.m6toll.co.uk/login" target="_blank">Login</a></li>
          </ul>
        </div>

        
      </div>
    </div>
  </div>
</div>

<header>
  <div class="navbar navbar-expand-lg container-xl">
    <a class="navbar-brand track-link" href="../were-winter-ready/index.html" title="M6toll">
      <svg xmlns="http://www.w3.org/2000/svg" id="headerLogo" viewBox="0 0 1026.71 259.2">
    <defs>
        <style>
            .cls-1 {
                fill: #fff;
                stroke-width: 0px;
            }
        </style>
    
    </a>
    
          <div class="navbar-collapse-wrapper navbar-collapse order-last order-xl-0">
        <nav class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" aria-label="Primary">
          <div class="navbar-collapse-container d-flex">
            <div class="navbar-wrapper d-flex">
            <ul id="menu-primary" class="navbar-nav mb-auto mb-lg-0">
<li  id="menu-item-47955" class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-47955"><a href="https://www.m6toll.co.uk/pricing/" class="track-link nav-link ">Pricing</a></li>
<li  id="menu-item-51001" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-51001"><a href="../fairer/index.html" class="track-link nav-link ">Breeze</a></li>
<li  id="menu-item-47846" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-47846"><a href="../payment-notice/index.html" class="track-link nav-link ">Payment Notice</a></li>
<li  id="menu-item-47946" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-47946"><a href="../receipt/index.html" class="track-link nav-link ">Receipt</a></li>
<li  id="menu-item-41397" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-41397"><a href="https://www.m6toll.co.uk/contact-us/" class="track-link nav-link ">Contact Us</a></li>
</ul>
            </div>

            <a href="https://customers.m6toll.co.uk/account-creation" class="track-link btn btn-outline-light mb-3 d-lg-none" target="_blank">Sign Up</a>
            <a href="https://customers.m6toll.co.uk/login" class="track-link btn btn-outline-light mb-3 d-lg-none" target="_blank">Login</a>

            <ul class="social list-inline d-lg-none text-center">
  <li class="list-inline-item">
    <a href="https://en-gb.facebook.com/M6tollRoad/" title="Facebook" target="_blank">
      <i class="social-icon fa-brands fa-square-facebook"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://twitter.com/m6tollroad" title="Twitter" target="_blank">
      <i class="social-icon fa-brands fa-x-twitter"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="http://www.linkedin.com/company/midland-expressway-limited" title="LinkedIn" target="_blank">
      <i class="social-icon fa-brands fa-linkedin"></i>
    </a>
  </li>
</ul>
          </div>
        </nav>
      </div>
       
    <button
      class="navbar-toggler menu-icon"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ><span></span></button>
  </div>
 
  
</header>

<a href="https://www.m6toll.co.uk/contact-us/" title="Contact Us" class="btn btn-other btn-sticky"><i class="far fa-envelope"></i> Contact Us</a>
</div>

  <main id="main" class="main">
      
                                                <section class="section__title section--color- section--text- text-center">
    <div class="container-lg">
      <h2>Pricing Tables</h2>
    </div>
  </section>
                                                            <section class="section__content section--color-">
  <div class="container-lg">
    <div class="row justify-content-center flex-row-reverse">
            <div class="col-12 col-md-8">
        <h4 class="text-center" style="text-align: center;">VEHICLE SPECIFICATIONS AND APPLICABLE TOLL</h4>
<table style="border-collapse: collapse; width: 100.473%; height: 220px;">
<tbody>
<tr style="height: 24px;">
<td style="width: 9.1467%; height: 24px;"></td>
<td style="width: 17.1742%; height: 24px; text-align: center;"><strong>Class 1 </strong>Motorbike</p>
<p><img loading="lazy" decoding="async" class="alignnone size-full wp-image-47474" src="/home/vitumbiko/Desktop/dashboard/static/images/motorbike.png" alt="" width="67" height="41" /></td>
<td style="width: 18.2658%; height: 24px; text-align: center;"><strong>Class 2</strong> Light Vehicle</p>
<p><img loading="lazy" decoding="async" class="alignnone size-full wp-image-47473" src="/home/vitumbiko/Desktop/dashboard/static/images/cars.png" alt="" width="105" height="41" /></td>
<td style="width: 17.5823%; height: 24px; text-align: center;"><strong>Class 3</strong> Car &amp; Trailer/Mini Bus</p>
<p><img loading="lazy" decoding="async" class="alignnone size-full wp-image-47472" src="/home/vitumbiko/Desktop/dashboard/static/images/car-and-trailer.png" alt="" width="158" height="41" /></td>
<td style="width: 19.548%; height: 24px;">
<p style="text-align: center;"><strong>Class 4</strong> Lorry or Van</p>
<p><img loading="lazy" decoding="async" class="alignnone size-full wp-image-47471 aligncenter" src="/home/vitumbiko/Desktop/dashboard/static/images/van.png" alt="" width="87" height="41" /></td>
<td style="width: 21.9667%; height: 24px;">
<p style="text-align: center;"><strong>Class 5</strong> 10 tonnes Truck</p>
<p><img loading="lazy" decoding="async" class="alignnone size-full wp-image-47470 aligncenter" src="/home/vitumbiko/Desktop/dashboard/static/images/hgv.png" alt="" width="149" height="41" /></td>
</tr>
<tr style="height: 24px;">
<td style="width: 9.1467%; height: 24px; text-align: center;"><strong>Fee:</strong></td>
<td style="width: 18.1742%; height: 24px; text-align: center;">K1,000</td>
<td style="width: 18.2658%; height: 24px; text-align: center;">K1,000</td>
<td style="width: 17.5823%; height: 24px; text-align: center;">K2,000</td>
<td style="width: 19.548%; height: 24px; text-align: center;">K4,000</td>
<td style="width: 21.9667%; height: 24px; text-align: center;">K5,000</td>
</tr>

</tbody>
</table>

      </div>
    </div>
  </div>
</section>

                              <section class="section__content section--color-orange">
  <div class="container-lg">
    <div class="row justify-content-center flex-row-reverse">
            <div class="col-12 col-md-8">
        <h4 style="text-align: center;"><strong>Don&#8217;t have an account? create a <em>PlateSync</em> account here</strong></h4>
<p style="text-align: center;"><a class="btn btn-grey" href="{{ url_for('register') }}"><b>Get Started</b></a></p>

      </div>
    </div>
  </div>
</section>
            
    </main>

<footer>
  <div class="container-xl">
    <div class="row">
      <div class="col-12 col-lg-3 d-flex align-items-center flex-column mb-4 mb-lg-0">
        <p class="mb-0">WE ARE PART OF:</p>
        <div class="footer-logo">
          <a href="https://www.aleatica.com/en/home-eng" target="_blank"><img src="{{ url_for('static', filename='images/logo1.png') }}"" id="headerLogo" alt="Logo"></a>
        </div>
      </div>

              <div class="col-12 col-md-4 col-lg-3 my-4 my-md-0">
          <p><span data-sheets-formula-bar-text-style="font-size:15px;color:#000000;font-weight:normal;text-decoration:none;font-family:'docs-Calibri';font-style:normal;text-decoration-skip-ink:none;">We develop smart transport solutions that exceed customer expectations and contribute to the sustainable development of our planet.</span></p>

        </div>
      
      <div class="col-12 col-md-4 col-lg-3">
        <ul id="menu-main-footer-menu" class="menu list-unstyled ms-md-5"><li  id="menu-item-40169" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-40169"><a href="https://www.m6toll.co.uk/contact-us/" class="track-link nav-link ">Contact Us</a></li>
<li  id="menu-item-43446" class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-43446"><a href="../about-us/passion-for-our-team/index.html#current-vacancies" class="track-link nav-link ">Work with us</a></li>
<li  id="menu-item-40172" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-40172"><a href="../using-the-m6toll/faqs/index.html" class="track-link nav-link ">FAQs</a></li>
<li  id="menu-item-40170" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-40170"><a href="../modern-slavery-statement/index.html" class="track-link nav-link ">Modern Slavery Act Transparency Statement</a></li>
<li  id="menu-item-40900" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-40900"><a href="../iso-management-certification/index.html" class="track-link nav-link ">ISO Management Certification</a></li>
<li  id="menu-item-40171" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-40171"><a href="../using-the-m6toll/commercial-customers/savings-estimator/index.html" class="track-link nav-link ">Savings Calculator</a></li>
</ul>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <div class="mb-4">
          <span>CONNECT WITH US:</span>
          <ul class="social list-inline d-inline-block ms-4">
  <li class="list-inline-item">
    <a href="https://en-gb.facebook.com/M6tollRoad/" title="Facebook" target="_blank">
      <i class="social-icon fa-brands fa-square-facebook"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="https://twitter.com/m6tollroad" title="Twitter" target="_blank">
      <i class="social-icon fa-brands fa-x-twitter"></i>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="http://www.linkedin.com/company/midland-expressway-limited" title="LinkedIn" target="_blank">
      <i class="social-icon fa-brands fa-linkedin"></i>
    </a>
  </li>
</ul>
        </div>
      </div>
    </div>
  </div>
</footer>


<div class="footer-fixed fixed-bottom py-3">
  <div class="container-xl">
    <div class="row">
      <div class="col-12 d-flex justify-content-between">
        

        <p class="mb-0 text-end">&copy; 2024 PlateSync</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="linkModalLabel"><svg xmlns="http://www.w3.org/2000/svg" id="headerLogo" viewBox="0 0 1026.71 259.2">
    <defs>
        <style>
            .cls-1 {
                fill: #fff;
                stroke-width: 0px;
            }
        </style>
    </defs>
    </h1>

      </div>
    </div>
  </div>
</div>
    </div>

        <script src="/home/vitumbiko/Desktop/dashboard/static/js/dist/vendor/wp-polyfill-inert.min.js?ver=3.1.2" id="wp-polyfill-inert-js"></script>
<script src="/home/vitumbiko/Desktop/dashboard/static/js/dist/vendor/regenerator-runtime.min.js?ver=0.14.0" id="regenerator-runtime-js"></script>
<script src="/home/vitumbiko/Desktop/dashboard/static/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0" id="wp-polyfill-js"></script>
<script src="/home/vitumbiko/Desktop/dashboard/static/js/dist/vendor/react.min.js?ver=18.2.0" id="react-js"></script>
<script src="/home/vitumbiko/Desktop/dashboard/static/js/dist/vendor/react-dom.min.js?ver=18.2.0" id="react-dom-js"></script>
<script src="/home/vitumbiko/Desktop/dashboard/static/js/vendor.c6de8d.js" id="app/0-js"></script>
<script src="/home/vitumbiko/Desktop/dashboard/static/js/app.953c48.js" id="app/1-js"></script>
  </body>
</html>
